@use "../../assets/scss/variables/colours";
@use "../../assets/scss/variables/responsive";
@use "../../assets/scss/variables/mixins";

.alert {
  font-weight: 300;

  a {
    color: inherit;
    font-weight: 500;
    text-decoration: underline;
  }

}
