@use "../../assets/scss/variables/colours";
@use "../../assets/scss/variables/responsive";
@use "../../assets/scss/variables/mixins";

.signupContainer {
  max-width: 960px;
  margin: 2rem auto;
}

.tabs {
  width: 100%;
  display: flex;
}

.signupHeader {
  font-weight: 400;
  text-decoration: underline;
  font-size: 2rem;
}

.formMessages {
  text-align: center;
}
